@import "variables";

.inner-content {
    display: flex;
    justify-content: center;
    padding: 40px 0 100px 0;

    .video {
        height: 600px;
        position: relative;
        background: url(/assets/img/index/video.jpg) center center no-repeat;
        background-size: cover;
        margin-bottom: 20px;

        a {
            transition: 0.3s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            &::after {
                content: "";
                width: 132px;
                height: 132px;
                background: url(/assets/img/index/play.svg);
                display: block;
            }

            &:hover {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        &.otherVideoBackround {
            background: url(/assets/img/index/video2-news.jpg) center center no-repeat;
            background-size: cover;
        }
    }

    .inner-content-text {
        h2 {
            font-weight: bold;
            line-height: 150%;
            color: $grey333;
            font-size: 16px;
        }
    }
}

@media (max-width: 992px) {
    .inner-content {
        padding: 30px 0 80px 0;

        .video {
            height: 400px;
        }
    }

}

@media (max-width: 768px) {
    .inner-content {
        padding: 20px 0 30px 0;

        .video {
            height: 200px;
        }
    }

}